/*------search-----------*/
.search {
    padding: 10px 0;
  }
  .search .logo img {
    width: auto;
    height: auto;
    padding-right: 20px;
  }
  .search .width {
    width: 15%;
  }
  .search-box {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    /*padding: 10px;*/
    border-radius: 10px;
  }
  .search-box i {
    width: 5%;
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
    padding: 10px 15px;
    font-size: 17px;
  }
  .search-box input {
    width: 100%;
    padding: 10px;
  }
  ::placeholder {
    font-size: 15px;
  }
  .search-box span {
    width: 20%;
    opacity: 0.5;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .search .cart {
    margin-right: 20px;
  }
  .search .cart span {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #0F70B7;
    font-size: 12px;
    color: #fff;
  }
  .search .f_flex {
    justify-content: end;
  }
  .search .button1
  {
    border: 3px solid black;
    background-color: white;
    color: black;
    padding: 5px 30px;
    font-size: 10px;
    cursor: pointer;
    border-color: #176eb4;
    border-radius: 5px;
    /* color: dodgerblue */
  }
  /*------search-----------*/